!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title Timetracker
    %script{ src: 'https://code.angularjs.org/2.0.0-alpha.34/angular2.sfx.dev.js' }
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    test
    = yield
